.quiz_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.quiz_container {
    background-color: white;
}

.aftersubmitLoading {
    position: fixed;
    top: -100px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: gray;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}


.welcome_quiz {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 50px auto;
    padding: 50px;
}

.container {
    border-radius: 3%;
    border-radius: 3%;
    color: white;
    background: #159957;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.container_header {
    background-color: #25bbdd;
    /* overflow: hidden; */
    border-radius: 3%;
}

.container_data {

    display: inline-block;
    margin: 100px;
    margin-left: 580px;

}