.demo {
    font-family: 'Noto Sans', sans-serif;
}

.panel {
    /* background: linear-gradient(to right, #2980b9, #2c3e50); */
    background-color: var(--primary-color);
    padding: 0;
    border-radius: 10px;
    border: none;
    /* box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05), 0 0 0 10px rgba(0, 0, 0, 0.05); */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.panel .panel-heading {
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

.panel .panel-heading .title {
    color: var(--table-font-color);
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 40px;
    margin: 0;
}

.panel .panel-heading .btn {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.panel .panel-heading .btn:hover {
    color: #fff;
    text-shadow: 3px 3px rgba(255, 255, 255, 0.2);
}

.panel .panel-heading .form-control {
    color: var(--table-font-color);
    background-color: transparent;
    width: 35%;
    height: 40px;
    border: 2px solid var(--table-font-color);
    border-radius: 20px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.btn_group .form-control::placeholder{
    color:var(--table-font-color) !important;
}

/* tbody, td, tfoot, th, thead, tr{
    border-color: var(--table-border-color);
    border-style: solid;
    border-width: 1px;
} */

.panel .panel-heading .form-control:focus {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
    outline: none;
}

.panel .panel-heading .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 500;
}

.panel .panel-body {
    padding: 0;
}

.panel .panel-body .table thead tr th {
    color: var(--table-font-color);
    background-color: var(--table-head-background-color);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    border: 1px solid black;
}

.panel .panel-body .table tbody tr td {
    color: #000000;
    font-size: 15px;
    padding: 10px 12px;
    vertical-align: middle;
    background: var(--table-head-background-color);
    /* border: 1px solid var(--table-border-color) !important; */
}

tr>div.d-flex{
    background: var(--table-head-background-color);
}

.panel .panel-body .table tbody tr:nth-child(even) {
    background-color:var(--table-head-background-color)
}

.panel .panel-body .table tbody .action-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.panel .panel-body .table tbody .action-list li {
    display: inline-block;
    margin: 0 5px;
}

.panel .panel-body .table tbody .action-list li a {
    color: #fff;
    font-size: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.panel .panel-body .table tbody .action-list li a:hover {
    text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.3);
}

.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after {
    content: attr(data-tip);
    color: #fff;
    background-color: #111;
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 4px;
    text-transform: capitalize;
    display: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -32px;
    transition: all 0.3s ease 0s;
}

.panel .panel-body .table tbody .action-list li a:after {
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -18px;
    z-index: -1;
}

.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after {
    display: block;
}

.panel .panel-footer {
    color: #fff;
    background-color: transparent;
    padding: 15px;
    border: none;
}

.panel .panel-footer .col {
    line-height: 35px;
    color:var(--table-font-color)
}

.pagination {
    display: inline-block;
  }
  
  .pagination span {
    color: var(--table-font-color);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin-right:10px;
    cursor: pointer;
  }
  
  .pagination span.active {
    background-color: var(--secondary-color);
    color: white;
  }

/* .pagination {
    margin: 0;
}

.pagination li a {
    color: #fff;
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 31px;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0 3px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.pagination li a:hover {
    color: #fff;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}

.pagination li a:focus,
.pagination li.active a,
.pagination li.active a:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.pagination li:first-child a,
.pagination li:last-child a {
    border-radius: 50%;
} */

@media only screen and (max-width:600px) {
    .panel .panel-heading .title {
        text-align: center;
        margin: 0 0 10px;
    }

    .panel .panel-heading .btn_group {
        text-align: center;
    }
    .input{
        width: 100%;
        
    }
   
}