.title {
    color: var(--table-font-color);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .moduleName {
    border-radius: 16px;
    background: #fff;
    width: 60%;
    height: 66px;
    flex-shrink: 0;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
    color: var(--not-editable-text, #a4a4a4);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    border: 0;
    outline: 0;
  }
  
  .courseCategory{
    border-radius: 16px;
    background: #fff;
    width: 100%;
    height: 66px;
    flex-shrink: 0;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
    color: var(--not-editable-text, #a4a4a4);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    border: 0;
    outline: 0;
  }
  
  .assignedCategories{
    border-radius: 16px;
    background: #fff;
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
    color: var(--not-editable-text, #a4a4a4);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    border: 0;
    outline: 0;
    overflow: auto;
  }
  .category{
    display: flex;
    width:60%;
    gap:20px;
  }
  
  h1{
    color:var(--table-font-color)
  }
  .courseCategorySelection{
    width:40%;
  }
  
  .courseCategorySelectedItems{
    width:60%;
  }
  
  .chapterName {
    border-radius: 16px;
    background: #fff;
    color: var(--not-editable-text, #a4a4a4);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    border: 0;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
    border: 0;
    outline: 0;
    width: 60%;
    height: 66px;
    flex-shrink: 0;
  }
  
  .description {
    width: 60%;
    height: 150px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    border: 0;
    outline: 0;
    resize: none;
    color: var(--not-editable-text, #a4a4a4);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
  }
  
  .contentBox {
    width: 200px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    color: var(--Secondary-text, #494949);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  
  .contentDiv {
    width: 60%;
  }
  
  .nextPrevButtonDiv {
    width: 60%;
    margin-top: 20px;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .box_shadow {
    width: 60%;
    border: 1px solid red;
  }
  
  .chapterdropdown {
    width: 60% !important;
    background-color: red;
  
  }
  
  /* quiz section */
  .questionbox {
    border-radius: 5px;
    background: #fff;
    width: 50%;
    height: 50px;
    flex-shrink: 0;
    /* Shadow universal */
    padding-left: 20px;
    border: 0;
    outline: 0;
    color: var(--not-editable-text, #a4a4a4);
    font-family: poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
  }
  
  .questiontext {
    color: var(--table-font-color);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .questionNumber {
    border-radius: 50%;
    color: #fff;
    background-color: #000;
    width: 30px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  
  .options {
    display: flex;
    width: 50%;
    height: 50px;
    align-items: center;
    padding-left: 20px;
    border-radius: 5px;
    background: #fff;
    border: 0;
    outline: 0;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
  }
  
  .optionInput {
    color: var(--not-editable-text, #a4a4a4);
    font-family: poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height:50px;
    border: 0;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    outline: 0;
  }
  
  .submit {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    box-shadow: #5fbd69 0px 0.0625em 0.0625em, #5fbd69 0px 0.125em 0.5em, #5fbd69 0px 0px 0px 1px inset;
   
  }
  
  .submit:hover {
    background-color: #5fbd69;
    box-shadow: none;
    /* font-size: 15px; */
  }
  
  /* -------------------dropdown in quiz------------ */
  .dropdown {
    width: 50% !important;
  }
  
  .chapterDropdown {
    width: 300px;
    height: 50px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border: 0;
    margin-bottom: 20px;
    font-family: Inter;
  }
  .aftersubmitLoading{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    background-color: gray;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*  uitlity*/
  
  .cursor_pointer {
    cursor: pointer;
  }
  
  .courseImagePreview {
    width: 50%;
    height: 130px;
    background: white;
    border-radius: 16px;
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
  
  }
  
  .thumbnail {
    width: 60%;
  }
  
  
  
  
  
  /* media queries */
  
  @media (max-width: 1000px) {
    /* .questionbox{
            width:100%;
        } */
  
    .options {
      width: auto;
    }
  
    .questionbox {
      width: auto;
    }
  }
  
  /* horzontal video scrollbar */
  .scrolling_wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .scrolling_wrapper {
    overflow-x: auto;
    width: 60%;
  }