.title {
    color: var(--table-font-color);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 20px;
    padding-bottom: 10px;
}

.moduleName {
    border-radius: 5px;
    background: #fff;
    width: 80%;
    height: 50px;
    flex-shrink: 0;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
    color: var(--not-editable-text, #a4a4a4);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    border: 0;
    outline: 0;
}

.chapterName {
    border-radius: 16px;
    background: #fff;
    color: var(--not-editable-text, #a4a4a4);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    border: 0;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
    border: 0;
    outline: 0;
    width: 80%;
    height: 66px;
    flex-shrink: 0;
}

.description {
    width: 80%;
    height: 200px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #fff;
    border: 0;
    outline: 0;
    resize: none;
    color: var(--not-editable-text, #a4a4a4);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
}

.quizContainer {
    width: 80%;
    height: 600px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #fff;
    border: 0;
    outline: 0;
    resize: none;
    color: var(--not-editable-text, #a4a4a4);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    overflow-x: hidden;
}

.contentBox {
    width: 200px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    color: var(--Secondary-text, #494949);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.category {
    /* display: flex; */
    width: 100%;
    gap: 20px;
}

.courseCategorySelection {
    width: 80%;
}

.courseCategory {
    border-radius: 5px;
    background: #fff;
    width: 100%;
    height: 66px;
    flex-shrink: 0;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
    color: var(--not-editable-text, #a4a4a4);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    border: 0;
    outline: 0;
}

.courseCategorySelectedItems {
    width: 80%;
}

.assignedCategories {
    border-radius: 5px;
    background: #fff;
    width: 100%;
    height: 66px;
    flex-shrink: 0;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
    color: var(--not-editable-text, #a4a4a4);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    border: 0;
    outline: 0;
}

.contentDiv {
    width: 80%;
}

.nextPrevButtonDiv {
    width: 80%;
    margin-top: 20px;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.box_shadow {
    width: 80%;
    border: 1px solid red;
}

.chapterdropdown {
    width: 80% !important;
    background-color: red;

}

.aftersubmitLoading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: gray;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* quiz section */
.questionbox {
    border-radius: 16px;
    background: #fff;
    width: 80%;
    height: 78px;
    flex-shrink: 0;
    /* Shadow universal */
    padding-left: 20px;
    border: 0;
    outline: 0;
    color: var(--not-editable-text, #a4a4a4);
    font-family: poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
}

.questiontext {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.questionNumber {
    border-radius: 50%;
    color: #fff;
    background-color: #000;
    width: 30px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    display: flex;
    width: 80%;
    height: 67px;

    align-items: center;
    padding-left: 20px;
    border-radius: 16px;
    background: #fff;
    border: 0;
    outline: 0;
    /* Shadow universal */
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
}

.optionInput {
    color: var(--not-editable-text, #a4a4a4);
    font-family: poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 80%;
    border: 0;
    width: 100%;
    border-radius: 16px;
    padding: 10px;
    outline: 0;
}

.submit {
    background-color: #50ad59;
    color: #fff;
    border: 1px solid white;
    padding: 10px;
}

.submit:hover {
    background-color: #5fbd69;
}

/* -------------------dropdown in quiz------------ */
.dropdown {
    width: 80% !important;
}

.chapterDropdown {
    width: 300px;
    height: 50px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border: 0;
    margin-bottom: 20px;
    font-family: Inter;
}

/*  uitlity*/

.cursor_pointer {
    cursor: pointer;
}

.courseImagePreview {
    width: 100%;
    height: 150px;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 2px 14px -4px rgba(0, 0, 0, 0.25);
    margin: 20px 0;
}

.thumbnail {
    width: 80%;
}

/* media queries */

@media (max-width: 1000px) {
    /* .questionbox{
            width:100%;
        } */

    .options {
        width: auto;
    }

    .questionbox {
        width: auto;
    }
}

/* horzontal video scrollbar */
.scrolling_wrapper::-webkit-scrollbar {
    display: none;
}

.scrolling_wrapper {
    overflow-x: auto;
    width: 80%;
}