
  
  .carousel_item img {
    width: 100% !important;
    height: 100%;
    /* object-fit: cover; */
    object-position: center;
  }
  

  
  
  
  @media (max-width:767px) {
    .carousel_item img{
      height:75vw;
    }
    .carousel_parent > div{
      position: relative !important;
      height:75vw !important;
    }
  }